milestone_1/.ipynb_checkpoints/
milestone_1/__pycache__/
milestone_2/.ipynb_checkpoints/
milestone_2/__pycache__/
John/.ipynb_checkpoints/
Nati/.ipynb_checkpoints/
John/__pycache__/
Nati/__pycache__/
