milestone_1/.ipynb_checkpoints/
milestone_1/__pycache__/
milestone_2/.ipynb_checkpoints/
milestone_2/__pycache__/
milestone_3/.ipynb_checkpoints/
milestone_3/__pycache__/
milestone_4/.ipynb_checkpoints/
milestone_4/__pycache__/
John/.ipynb_checkpoints/
Nati/.ipynb_checkpoints/
John/__pycache__/
Nati/__pycache__/
marco/.ipynb_checkpoints/
marco/__pycache__/
Shahow/.ipynb_checkpoints/
Shahow/__pycache__/
project/.ipynb_checkpoints/
project/__pycache__/
